body {
  background: url('../asseat/images/bg.png');
  #app {
    width: 55px;
    height: 55px;
    background: url('../asseat/images/icon-1.png') no-repeat;
    text-align: center;
    line-height: 55px;
  }
}